body{
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    color:blue;
}
header{
    text-align: center;
    margin-bottom: 40px;
}
h1, h2{
    color: black;
}
code{
    background-color: aqua;
    padding: 2px 6px;
    border-radius: 4px;
}
.container{
    margin: 40px 0;
    padding: 24px;
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 0 6px 6px 0;
}
.item{
    background-color: purple;
    color: white;
    padding: 20px;
    margin: 8px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    min-width: 80px;
}
.display-block .item{
    display: block;
}
.display-inline .item{
    display: inline-block;
}
.display-inline-block .item{
    display: inline-block;
    width: 140px;
    height: 100px;
}
.display-flex{
    display: flex;
    gap: 12px;
    flex-wrap: wrap ;
    background-color: #ecf0f1;
    padding: 20px;
    border: 2px dashed yellow;
    border-radius: 8px;
}
.display-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    background-color: #f1c40f33;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 8px;
}
.full-width{
    grid-column: 1 / -1;
}
footer{
    text-align: center;
    margin-top: 60px;
    color: blue;
}